.section {
    margin: 20px 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

h2 {
    margin-bottom: 30px;
}

.delivery-logo {
    display: block;
    width: 300px;
    margin: 20px auto;
    max-width: 90%;
}

.delivery-widget {
    display: block;
    /* width: 800px; */
    margin: 20px auto;
    max-width: 95%;
}