.packeta-selector-open {
    display: block;
    margin: 20px auto;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    border: 1px solid #6e0000;
    padding: 5px 10px;
    background: #ba1b02;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 8px 0 8px 0;
    transition: background ease 0.3s;

    &:hover {
        background: #cf4833;
    }
}