button {
    cursor: pointer;
}

.section {
    background: #ffc795;
    padding: 30px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    height: max-content;
}

.product-info-block {
    display: grid;
    grid-template-columns: 56% 40%;
    gap: 4%;
    margin-bottom: 20px;
}

.product-info {
    display: flex;
    flex-direction: column;
    position: relative;
}

.product-title {
    margin-bottom: 1rem;
}

.product-price {
    margin: 10px 0;
    font-weight: 600;
}

.product-sizes {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    margin-bottom: 20px;
}

.product-image {
    border: 1px solid #bdbdbd;
    background: #ededed;
    padding: 10px;

    img {
        height: 300px;
        width: 100%;
        object-fit: cover;
    }

}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
    margin: 20px 0 10px;
}

.size, .price {
    align-self: center;
    margin-left: 10px;
}

.price {
    font-size: 1.1rem;
    font-weight: 600;
}

.order-btn {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: block;
    /* margin: 10px auto; */
    text-transform: uppercase;
    font-size: 0.8rem;
    background: #2c2c2c;
    color: #dddddd;
    transition: all ease .3s;

    &:hover {
        background: #707070;
        color: #bebebe;
    }
}

.photos-slider {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    img {
        width: 100%;
        transition: all ease 0.3s;

        &:hover {
            opacity: 0.8;
            transform: scale(1.005);
        }
    }
}
