.section {
    background: #3fc9ff;
    padding: 30px;
    margin: 20px 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    height: max-content;
}

.product-info-block {
    display: grid;
    grid-template-columns: 60% 40%;
}

.product-image {

    img {
        height: 320px;
        width: 100%;
        object-fit: cover;
    }

}

.photos-slider {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);

    img {
        width: 100%;
    }
}