.size-btn {
    border: 1px solid grey;
    padding: 5px 10px;
    margin-right: 5px;
    background: none;
}

.regular {
    border: 1px solid grey;
    padding: 5px 10px;
    margin-right: 5px;
    background: none;
}

.active {
    border: 1px solid grey;
    padding: 5px 10px;
    margin-right: 5px;
    background: rgb(197, 197, 197);
}

.slide-regular {
    outline: none;
}

.slide-active {
    outline: 3px solid #ff8f5a;
}